<div class="container">
	<div class="pagetitle">
		<h1><%= data.name %></h1>
		<div>
			<%= t.companies_vat_label + " " + data["vat-id"] %>
		</div>
	</div>
	<ul class="sub-menu_tabs">
		<li>
			<span><a href="/<%= location.hash %>/users"><%= t.users_heading %></a></span>
		</li>
		<li class="active">
			<span><a href="/<%= location.hash %>"><%= t.backend_label %></a></span>
		</li>
	</ul>
	<div class="main-area">
		<ul class="breadcrumb">
			<li>
				<a href="#companies"><%= t.companies_heading %></a><span class="divider">/</span>
			</li>
			<li class="active">
				<a href="#company/<%= data.id %>"><%= data.name %></a>
			</li>
		</ul>
		<!-- Main content -->
		<h1><%= t.backends_heading %></h1>
		<span class="align-right">
			<button type="submit" id="edit_btn" class="btn">
				<i class="icon-pencil"></i> <%= t.edit_button %>
			</button> </span>
		<div id="config_list"></div>
	</div>
</div>
