<div class="container">
	<div class="logotype">
		<h1><span>TimeZynk</span></h1>
	</div>
	<div class="main-area">
		<!-- Main content -->
		<h1><%= t.welcome_heading %></h1>
		<span id="msg_field"></span>
		<form>
			<fieldset>
				<div class="clearfix">
					<label for="loginUserName"><%= t.user_name_label %></label>
					<div class="input">
						<input class="xlarge" id="loginUserName" name="username" size="30" type="text" placeholder="<%= t.user_name_placeholder %>"/>
					</div>
				</div>
				<div class="clearfix">
					<label for="loginPassword"><%= t.password_label %></label>
					<div class="input">
						<input class="xlarge" id="loginPassword" name="password" size="30" type="password" placeholder="<%= t.password_placeholder %>"/>
					</div>
				</div>
				<div class="actions">
					<button type="submit" class="btn large primary">
						<%= t.login_button %>
					</button>
				</div>
			</fieldset>
		</form>
		<br class="clear"/>
	</div>
</div>
