<div class="navbar-inner">
	<div class="container">
		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
		<div class="nav-collapse">
			<h1 class="logotype"><span>TimeZynk</span></h1>
			<ul class="nav">
				<li>
					<a href="#companies">Companies</a>
				</li>
				<li>
					<a href="#users">All users</a>
				</li>
				<li>
					<a href="#logout">Log out</a>
				</li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</div>
