<div class="container">
	<div class="pagetitle">
		<h1><%= data.name %></h1>
		<div>
			<%= t.companies_vat_label + " " + data["vat-id"] %>
		</div>
	</div>
	<ul class="sub-menu_tabs">
		<li class="active">
			<span><a href="#"><%= t.users_heading %></a></span>
		</li>
		<li>
			<span><a href="<%= window.currentBasePath %>"><%= t.backends_heading %></a></span>
		</li>
	</ul>
	<div class="main-area">
		<ul class="breadcrumb">
			<li>
				<a href="#companies"><%= t.companies_heading %></a><span class="divider">/</span>
			</li>
			<li class="active">
				<a href="#company/<%= data.id %>"><%= data.name %></a>
			</li>
		</ul>
		<!-- Main content -->
		<h1><%= t.users_heading %></h1>
		<br />
		<div id="companies_list">

		</div>
	</div>
</div>
