#tzuser-user-overview fieldset > .form-item {
    float: left;
    margin-right: 2em;
}

#tzuser-user-overview .date-clear-block {
    clear: none;
}

.tzuser_status {
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
}

.tzuser_status_red {
    background: url('../images/tzuser_status_red.png') center no-repeat;
}

.tzuser_status_green {
    background: url('../images/tzuser_status_green.png') center no-repeat;
}

.tzuser_status_yellow {
    background: url('../images/tzuser_status_yellow.png') center no-repeat;
}

.tzuser_status_grey {
    background: url('../images/tzuser_status_grey.png') center no-repeat;
}

.form-checkboxes .form-item {
    padding-left: 20px;
}

#tzuser-user-overview #edit-status-20-wrapper {
    background: url('../images/tzuser_status_green.png') left no-repeat;
}
#tzuser-user-overview #edit-status-10-wrapper {
    background: url('../images/tzuser_status_yellow.png') left no-repeat;
}
#tzuser-user-overview #edit-status-0-wrapper {
    background: url('../images/tzuser_status_red.png') left no-repeat;
}
#tzuser-user-overview #edit-status--10-wrapper {
    background: url('../images/tzuser_status_grey.png') left no-repeat;
}
tr.tzuser-overview-count-row td {
    background-color: #EAEAEA;
    font-weight: bold;
    border-top: 1px solid #000000;
    border-bottom: 3px double #000000;
}

.tzuser-log-entry {
    border: 1px solid #ccc;
    padding: 10px;
    background: #f0f0f0;
    margin-bottom: 1em;
}

.tzuser-log-entry .tzuser_status {
    display: block;
    float: right;
    margin-left: 1em;
}

.tzuser-log-entry .log-text {
    border: 3px solid #ccc;
    margin: 5px;
    padding: 5px 10px;
    background: #fff;
}

.tzuser-log-entry .entry {
    font-style: italic;
}
