#edit-date-wrapper,
#edit-assignment-wrapper,
#edit-users-wrapper,
#edit-group-wrapper
{
    float: left;
    margin-right: 2em;
}

#timereports-wrapper {
    clear: both;
}

.timereports-align-right {
    text-align: right;
}

.timereport-status {
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
}

.timereport-status-red {
    background: url('../../tzuser/images/tzuser_status_red.png') center no-repeat;
}

.timereport-status-green {
    background: url('../../tzuser/images/tzuser_status_green.png') center no-repeat;
}

.timereport-status-yellow {
    background: url('../../tzuser/images/tzuser_status_yellow.png') center no-repeat;
}

.timereport-status-grey {
    background: url('../../tzuser/images/tzuser_status_grey.png') center no-repeat;
}

tr.timereports-subtotal-row td.timereports-subtotal-field {
    background-color: #EAEAEA;
    font-weight: normal;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

tr.timereports-total-row td.timereports-total-field {
    background-color: #EAEAEA;
    font-weight: bold;
    border-top: 1px solid #000000;
    border-bottom: 3px double #000000;
}
